@charset "UTF-8";

body {
    background-color: #7EEDC2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(70, 139, 35);
}
h1#principal {
    text-align: center;
    background-color: rgba(43, 69, 43, 0.695);
    color: white;
}

h2 {
    color: rgb(19, 144, 19);
}

.basico {
    color: rgb(137, 159, 25);
}

.intermediario {
    color: rgb(255, 255, 7);
}

.avancado {
    color: rgb(255, 56, 1);
}

.destaque {
    background-color: yellow;
}